.-margin-top-10 {
  margin-top: 10px;
}

.-margin-top-20 {
  margin-top: 20px;
}

.-margin-top-30 {
  margin-top: 30px;
}

.-margin-top-40 {
  margin-top: 40px;
}

.-margin-top-60 {
  margin-bottom: 60px;
}

.-margin-bottom-10 {
  margin-bottom: 10px;
}

.-margin-bottom-20 {
  margin-bottom: 20px;
}

.-margin-bottom-30 {
  margin-bottom: 30px;
}

.-margin-bottom-40 {
  margin-bottom: 40px;
}

.-margin-bottom-60 {
  margin-bottom: 60px;
}

.fri {
  display: inline-block;
  background-repeat: no-repeat;
}

.fri-instagram {
  background-image: url('../images/icons-sa2a2b33a25.png');
  background-position: 0 -379px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-instagram {
    background-image: url('../images/icons-2x-s10a59a911d.png');
    background-size: 62px auto;
    background-position: 0 -210px;
    height: 16px;
    width: 16px;
  }
}

.fri-facebook-square {
  background-image: url('../images/icons-sa2a2b33a25.png');
  background-position: 0 -307px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-facebook-square {
    background-image: url('../images/icons-2x-s10a59a911d.png');
    background-size: 62px auto;
    background-position: 0 -169px;
    height: 16px;
    width: 16px;
  }
}

.fri-vk {
  background-image: url('../images/icons-sa2a2b33a25.png');
  background-position: 0 -833px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-vk {
    background-image: url('../images/icons-2x-s10a59a911d.png');
    background-size: 62px auto;
    background-position: 0 -472px;
    height: 15px;
    width: 15px;
  }
}

.fri-mail {
  background-image: url('../images/icons-sa2a2b33a25.png');
  background-position: 0 -453px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-mail {
    background-image: url('../images/icons-2x-s10a59a911d.png');
    background-size: 62px auto;
    background-position: 0 -252px;
    height: 15px;
    width: 15px;
  }
}

.fri-google {
  background-image: url('../images/icons-sa2a2b33a25.png');
  background-position: 0 -344px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-google {
    background-image: url('../images/icons-2x-s10a59a911d.png');
    background-size: 62px auto;
    background-position: 0 -190px;
    height: 15px;
    width: 15px;
  }
}

.fri-facebook {
  background-image: url('../images/icons-sa2a2b33a25.png');
  background-position: 0 -272px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-facebook {
    background-image: url('../images/icons-2x-s10a59a911d.png');
    background-size: 62px auto;
    background-position: 0 -149px;
    height: 15px;
    width: 15px;
  }
}

.fri-plus {
  background-image: url('../images/icons-sa2a2b33a25.png');
  background-position: 0 -729px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-plus {
    background-image: url('../images/icons-2x-s10a59a911d.png');
    background-size: 62px auto;
    background-position: 0 -410px;
    height: 15px;
    width: 15px;
  }
}

.fri-odnoklassniki {
  background-image: url('../images/icons-sa2a2b33a25.png');
  background-position: 0 -581px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-odnoklassniki {
    background-image: url('../images/icons-2x-s10a59a911d.png');
    background-size: 62px auto;
    background-position: 0 -326px;
    height: 15px;
    width: 15px;
  }
}

.fri-analyze {
  background-image: url('../images/icons-sa2a2b33a25.png');
  background-position: 0 -129px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 27px;
  width: 44px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-analyze {
    background-image: url('../images/icons-2x-s10a59a911d.png');
    background-size: 62px auto;
    background-position: 0 -67px;
    height: 14px;
    width: 22px;
  }
}

.fri-awward {
  background-image: url('../images/icons-sa2a2b33a25.png');
  background-position: 0 -161px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 22px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-awward {
    background-image: url('../images/icons-2x-s10a59a911d.png');
    background-size: 62px auto;
    background-position: 0 -86px;
    height: 16px;
    width: 11px;
  }
}

.fri-awward2 {
  background-image: url('../images/icons-sa2a2b33a25.png');
  background-position: 0 -198px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 28px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-awward2 {
    background-image: url('../images/icons-2x-s10a59a911d.png');
    background-size: 62px auto;
    background-position: 0 -107px;
    height: 16px;
    width: 14px;
  }
}

.fri-clock {
  background-image: url('../images/icons-sa2a2b33a25.png');
  background-position: 0 -235px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-clock {
    background-image: url('../images/icons-2x-s10a59a911d.png');
    background-size: 62px auto;
    background-position: 0 -128px;
    height: 16px;
    width: 16px;
  }
}

.fri-lock {
  background-image: url('../images/icons-sa2a2b33a25.png');
  background-position: 0 -416px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 30px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-lock {
    background-image: url('../images/icons-2x-s10a59a911d.png');
    background-size: 62px auto;
    background-position: 0 -231px;
    height: 16px;
    width: 15px;
  }
}

.fri-manager {
  background-image: url('../images/icons-sa2a2b33a25.png');
  background-position: 0 -488px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 28px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-manager {
    background-image: url('../images/icons-2x-s10a59a911d.png');
    background-size: 62px auto;
    background-position: 0 -272px;
    height: 14px;
    width: 16px;
  }
}

.fri-meeting {
  background-image: url('../images/icons-sa2a2b33a25.png');
  background-position: 0 -521px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-meeting {
    background-image: url('../images/icons-2x-s10a59a911d.png');
    background-size: 62px auto;
    background-position: 0 -291px;
    height: 16px;
    width: 16px;
  }
}

.fri-paper {
  background-image: url('../images/icons-sa2a2b33a25.png');
  background-position: 0 -616px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-paper {
    background-image: url('../images/icons-2x-s10a59a911d.png');
    background-size: 62px auto;
    background-position: 0 -346px;
    height: 16px;
    width: 16px;
  }
}

.fri-paper2 {
  background-image: url('../images/icons-sa2a2b33a25.png');
  background-position: 0 -653px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-paper2 {
    background-image: url('../images/icons-2x-s10a59a911d.png');
    background-size: 62px auto;
    background-position: 0 -367px;
    height: 16px;
    width: 16px;
  }
}

.fri-partners {
  background-image: url('../images/icons-sa2a2b33a25.png');
  background-position: 0 -690px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  width: 39px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-partners {
    background-image: url('../images/icons-2x-s10a59a911d.png');
    background-size: 62px auto;
    background-position: 0 -388px;
    height: 17px;
    width: 20px;
  }
}

.fri-wallet {
  background-image: url('../images/icons-sa2a2b33a25.png');
  background-position: 0 -868px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-wallet {
    background-image: url('../images/icons-2x-s10a59a911d.png');
    background-size: 62px auto;
    background-position: 0 -492px;
    height: 16px;
    width: 16px;
  }
}

.fri-timer-bg {
  background-image: url('../images/icons-sa2a2b33a25.png');
  background-position: 0 -776px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 52px;
  width: 41px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-timer-bg {
    background-image: url('../images/icons-2x-s10a59a911d.png');
    background-size: 62px auto;
    background-position: 0 -441px;
    height: 26px;
    width: 21px;
  }
}

.fri-akciya {
  background-image: url('../images/icons-sa2a2b33a25.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 124px;
  width: 124px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-akciya {
    background-image: url('../images/icons-2x-s10a59a911d.png');
    background-size: 62px auto;
    background-position: 0 0;
    height: 62px;
    width: 62px;
  }
}

.fri-menu-icon {
  background-image: url('../images/icons-sa2a2b33a25.png');
  background-position: 0 -558px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-menu-icon {
    background-image: url('../images/icons-2x-s10a59a911d.png');
    background-size: 62px auto;
    background-position: 0 -312px;
    height: 9px;
    width: 10px;
  }
}

body {
  font-family: "HelveticaNeueCyr-Light", "Open Sans", sans-serif;
  font-size: 16px;
  color: #2b2a29;
  line-height: 1.2;
}

strong {
  font-family: "HelveticaNeueCyr-Bold";
}

small {
  color: #666666;
  font-size: 14px;
}

.-font-large {
  font-size: 48px;
}

.-inline-block {
  display: inline-block;
}

.-text-upper {
  text-transform: uppercase;
}

.-color-light {
  color: #fff;
}

.-color-dark {
  color: #2b2a29;
}

.-color-blue {
  color: #019bdf;
}

.-color-blue--dark {
  color: #038ac6;
}

.-color-grey {
  color: #666666;
}

.-color-grey--light {
  color: #a9a9a9;
}

.link-blue {
  color: #019bdf;
  text-decoration: underline;
}
.link-blue:hover {
  color: #038ac6;
}

.btn-blue {
  background: #019bdf;
}
.btn-blue:hover {
  background: #038ac6;
}

.link-large {
  font-size: 24px;
}

.section {
  padding: 60px 0;
}
.section::after {
  display: block;
  content: "";
  clear: both;
}

.section-title {
  font-size: 30px;
  font-weight: 600;
  font-family: "HelveticaNeueCyr-Bold";
}

.section-title-small {
  font-size: 18px;
  font-weight: 600;
  font-family: "HelveticaNeueCyr-Bold";
}

.section-title-info {
  font-size: 24px;
}

.section-excerpt {
  font-size: 16px;
  font-weight: 300;
}

.section-circle {
  width: 86px;
  height: 86px;
  border: 1px solid transparent;
  text-align: center;
  display: inline-block;
  line-height: 86px;
  border-radius: 50%;
}

.section-circle-small {
  width: 52px;
  height: 52px;
  border: 1px solid transparent;
  text-align: center;
  display: inline-block;
  line-height: 52px;
  border-radius: 50%;
  font-size: 30px;
  color: #019bdf;
}

.section-circle-grey {
  border: 1px solid #a9a9a9;
}

.img-circle {
  border-radius: 50%;
  max-width: 124px;
  max-height: 124px;
}

.large-title {
  font-size: 100px;
  font-weight: 600;
  height: auto;
  line-height: 105px;
  font-family: "HelveticaNeueCyr-Bold";
}

.large-info {
  font-size: 30px;
  font-weight: normal;
  line-height: 35px;
  font-family: "HelveticaNeueCyr-Thin";
}

.uk-offcanvas-bar {
  background: repeating-linear-gradient(45deg, #6897c8, #6897c8 5px, #6094cb 5px, #6094cb 10px);
  color: #fff;
  text-shadow: none;
}

.uk-nav-offcanvas > li > a {
  color: #fff;
}
.uk-nav-offcanvas > li > a:hover {
  background: #0774bc !important;
}

.header-top-bar-menu {
  background: #0774bc;
  z-index: 1;
}
.header-top-bar-menu a {
  color: #fff;
}
.header-top-bar-menu a:hover {
  color: #fff;
}

.header {
  background-image: url("../images/slide7-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}
.header .header-right-content {
  position: relative;
}
.header .header-right-content .header-menu-btn {
  position: absolute;
  top: 0;
  right: 25px;
  color: #fff;
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .logo-block {
    margin: 0 auto;
    text-align: center;
  }
}

.header-title {
  font-size: 24px;
  line-height: 1.2;
}
@media only screen and (max-width: 768px) {
  .header-title {
    text-align: center;
  }
}

.header-title-info {
  font-family: "HelveticaNeueCyr-Thin";
  font-size: 24px;
  line-height: 1.2;
}
@media only screen and (max-width: 768px) {
  .header-title-info {
    text-align: center;
  }
}

.countdown-form {
  border: 1px solid #a9a9a9;
  border-radius: 10px;
  display: inline-block;
  padding: 20px 20px 60px 20px;
  position: relative;
}
@media only screen and (max-width: 960px) {
  .countdown-form {
    margin: 40px 0;
  }
}
.countdown-form::before {
  position: absolute;
  top: -6px;
  content: "";
  right: -6px;
  background-image: url('../images/icons-sa2a2b33a25.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 124px;
  width: 124px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .countdown-form::before {
    background-image: url('../images/icons-2x-s10a59a911d.png');
    background-size: 62px auto;
    background-position: 0 0;
    height: 62px;
    width: 62px;
  }
}
.countdown-form input[type=text] {
  height: 50px;
  padding: 0 25px;
  border: 1px solid #a9a9a9;
  border-radius: 10px;
  background: transparent;
  font-size: 18px;
  color: #fff;
  outline: none;
  text-align: center;
}
.countdown-form .countdown-form-submit {
  line-height: 50px;
  opacity: 70;
  cursor: pointer;
  border: none;
  display: block;
  width: 100%;
  border-radius: 10px;
  text-transform: uppercase;
}
.countdown-form .countdown-widget {
  position: relative;
}
.countdown-form .countdown-widget .countdown-widget-title {
  font-size: 18px;
}
.countdown-form .countdown-widget .countdown-widget-info {
  position: absolute;
  bottom: -93px;
  left: 0;
  display: block;
  width: 100%;
}
.countdown-form .countdown-widget .countdown-widget-info .countdown--number--wrapper {
  display: inline-block;
}
.countdown-form .countdown-widget .countdown-widget-info .countdown--number--wrapper .countdown--number--caption {
  font-size: 13px;
}
.countdown-form .countdown-widget .countdown-widget-info .countdown--number--wrapper .countdown--number--item span {
  background-image: url('../images/icons-sa2a2b33a25.png');
  background-position: 0 -776px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 52px;
  width: 41px;
  margin: 5px 2px;
  line-height: 52px;
  color: #666666;
  font-size: 36px;
  font-weight: 600;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .countdown-form .countdown-widget .countdown-widget-info .countdown--number--wrapper .countdown--number--item span {
    background-image: url('../images/icons-2x-s10a59a911d.png');
    background-size: 62px auto;
    background-position: 0 -441px;
    height: 26px;
    width: 21px;
  }
}

.services-section {
  background-image: url("../images/slide2-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.services-section .secvices-point {
  overflow: hidden;
}
.services-section .secvices-point .section-circle-small {
  float: left;
  margin-right: 15px;
}
.services-section .secvices-point .services-info {
  padding: 0;
  color: #666666;
}

.info-section {
  background-image: url("../images/slide3-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.info-section .info-section-list > li {
  position: relative;
}
.info-section .info-section-list > li::after {
  content: "";
  background-image: url('../images/icons-sa2a2b33a25.png');
  background-position: 0 -764px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 1px;
  width: 91px;
  position: absolute;
  top: 44px;
  right: -60px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .info-section .info-section-list > li::after {
    background-image: url('../images/icons-2x-s10a59a911d.png');
    background-size: 62px auto;
    background-position: 0 -430px;
    height: 1px;
    width: 46px;
  }
}
@media only screen and (max-width: 960px) {
  .info-section .info-section-list > li::after {
    display: none;
  }
}
.info-section .info-section-list > li:last-child::after {
  display: none;
}
.info-section p {
  font-weight: 600;
  font-size: 18px;
}

.price-list-section .price-list-section-list {
  margin-top: 100px;
}
.price-list-section .price-list-section-list > li .price-list-info {
  position: relative;
  border: 1px solid #a9a9a9;
  border-radius: 10px;
  padding: 20px 20px 40px 20px;
}
.price-list-section .price-list-section-list > li .price-list-info p {
  font-size: 24px;
  line-height: 1.2;
}
.price-list-section .price-list-section-list > li .price-list-info .list-title-text {
  position: absolute;
  top: -30px;
  left: 0;
  display: block;
  text-align: center;
  width: 100%;
}
.price-list-section .price-list-section-list > li .price-list-info .price-list-btn {
  position: absolute;
  line-height: 50px;
  bottom: -25px;
  display: inline-block;
  width: 80%;
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
  color: #fff;
  left: 10%;
  cursor: pointer;
}
@media only screen and (max-width: 960px) {
  .price-list-section .price-list-section-list > li {
    margin-bottom: 100px;
  }
}

.how-to-start {
  background: #f8f8f8;
}
.how-to-start .how-to-start-list > li {
  position: relative;
}
.how-to-start .how-to-start-list > li::after {
  content: "";
  background-image: url('../images/icons-sa2a2b33a25.png');
  background-position: 0 -770px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 1px;
  width: 91px;
  position: absolute;
  top: 44px;
  right: -64px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .how-to-start .how-to-start-list > li::after {
    background-image: url('../images/icons-2x-s10a59a911d.png');
    background-size: 62px auto;
    background-position: 0 -435px;
    height: 1px;
    width: 46px;
  }
}
@media only screen and (max-width: 960px) {
  .how-to-start .how-to-start-list > li::after {
    display: none;
  }
}
.how-to-start .how-to-start-list > li:last-child::after {
  display: none;
}
.how-to-start .popup-btn {
  line-height: 50px;
  border-radius: 10px;
  display: inline-block;
  padding: 0 25px;
  text-transform: uppercase;
  color: #fff;
}
.how-to-start .popup-btn:hover {
  text-decoration: none;
}

.stock-section {
  background-image: url("../images/slide7-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.footer {
  background: #2b2a29;
}

.footer-top {
  border-bottom: 1px solid #a9a9a9;
}
@media only screen and (max-width: 960px) {
  .footer-top {
    text-align: center;
  }
}

.footer-info-title {
  color: #fff;
  font-size: 14px;
}

.footer-info-content {
  color: #a9a9a9;
  font-size: 14px;
}

@font-face {
  font-family: "HelveticaNeueCyr-Thin";
  src: url("../fonts/HelveticaNeueCyr-Thin.otf");
}
@font-face {
  font-family: "HelveticaNeueCyr-UltraLight";
  src: url("../fonts/HelveticaNeueCyr-UltraLight.otf");
}
@font-face {
  font-family: "HelveticaNeueCyr-Bold";
  src: url("../fonts/HelveticaNeueCyr-Bold.otf");
}
@font-face {
  font-family: "HelveticaNeueCyr-Medium";
  src: url("../fonts/HelveticaNeueCyr-Medium.otf");
}
@font-face {
  font-family: "HelveticaNeueCyr-Light";
  src: url("../fonts/HelveticaNeueCyr-Light.otf");
}
